# Core API
fastapi==0.110.1
uvicorn==0.25.0

# MongoDB Async Client
motor==3.3.1
pymongo==4.5.0

# Environment & Security
python-dotenv==1.2.1
python-jose==3.5.0
bcrypt==4.1.3

# File Handling
aiofiles==25.1.0
python-multipart==0.0.20
pillow==12.0.0

# Data Validation
pydantic==2.12.4

# HTTP Requests
requests==2.32.5
requests-oauthlib==2.0.0
oauthlib==3.3.1

# Optional Utilities
rich==14.2.0
typing-inspection==0.4.2
